<div ng-controller="threadPageController">
    <!-- Nav Bar -->
    <div class="col-md-12 img-rounded nav-bar dark-green-border">
        <h3><span class="glyphicon glyphicon-arrow-left glyphicon-info"></span><a href="#/main">Back to main page</a></h3>
    </div>

    <!-- Thread container -->
    <div class="col-md-12 img-rounded comment-section dark-green-border">
        <legend>
            <h2 id="thread-title">{{thread.title}}</h2><br>
        </legend>
        <h4>
            <span class="glyphicon glyphicon-calendar glyphicon-info"></span>Posted {{thread.dateAdded | date:'dd-MMM-yyyy HH:mm'}}
        </h4>
           <!-- New comment -->
        <div>
            <input type="text" ng-model="newComment" placeholder="Write a comment..."/>
            <button ng-click="addComment()">Add Comment</button>
        </div>
        <!-- Thread comments list -->
        <div>
            <div ng-repeat="comment in thread.comments" class="col-md-12 comment img-rounded darker-border">
                <!-- Name and profile picture -->
                <div id="comment-profile" class="col-md-2" >
                    <img class="profile-pic img-rounded" ng-src="{{comment.userPic | trusted}}"></img><br>
                    <b>{{comment.username}}</b>
                </div>

                <!-- Comment body -->
                <div id="comment-body" class="col-md-10">
                    {{comment.text}}
                </div>

                <!-- Comment timestamp -->
                <div>
                </div>
            </div>
            <div ng-if="!thread.comments.length">There are no comments on this thread</div>
        </div>
    </div>
</div>