<div ng-controller="mainPageController">
    <div>Welcome {{user.name}}! <button ng-click="logout()">Logout</button></div>
    <h2>All Threads</h2>
    <div>
        <input type="text" ng-model='newThreadTitle' placeholder="New thread title..."/>
        <button ng-click="addThread()">Add thread</button>
    </div>
    <div>
        <div ng-repeat="thread in threads">
            <a ng-href="#/thread/{{thread.$id}}"> {{thread.title}} by {{thread.username}}</a>
        </div>
    </div>
    <div>
        <h2>Chat</h2>
        <div ng-repeat="user1 in users">
            <a ng-href="#"> {{user1.name}} | chat</a>
        <!--
            <div ng-if="!user.username.length">There are no users logged in</div>
            <a ng-href="#/user/{{user.uid}}">{{user.username}} chat</a>-->
        </div>
    </div>
</div>