<div ng-controller="mainPageController">
    <div>Welcome {{user.name}}! <button ng-click="logout()">Logout</button></div>
    <h2>All Threads</h2>
    <div>
        <input type="text" ng-model='newThreadTitle' placeholder="New thread title..."/>
        <button ng-click="addThread()">Add thread</button>
    </div>
    <div>
        <div ng-repeat="thread in threads">
            <a ng-href="#/thread/{{thread.$id}}"> {{thread.title}} by {{thread.username}} {{thread.votes}}</a>
            <button ng-click="upvote(thread.$id, thread.votes)">Upvote</button>
            <button ng-click="downvote(thread.$id, thread.votes)">Downvote</button>
        </div>
    </div>
    <div>
        <h2>Chat</h2>
        <div ng-repeat="user1 in users">
            <a ng-href="#/users/{{user.$chatid}}"> {{user1.name}} | chat</a>
        </div>
    </div>
</div>