<div ng-controller="loginPageController" id="login-div" class="col-md-12">
	<!-- Begin left-container -->
	<div id="login-left-container" class="col-md-6">
		<!-- Begin main div -->
		<div id="login-options" class="col-md-12 login-options img-rounded white-background dark-green-border">
			<h2>Please login to view the forum contents</h2>
		    <input type="image" class="row-fluid" src="images/google_login.png" ng-click="loginWithGoogle()" />
		</div>
		<!-- End main div -->

		<!-- Begin online users div -->
		<div class="col-md-12 login-options img-rounded white-background dark-green-border">
			<legend class="thread-title"><h2>Currently active users</h2></legend>
			<div ng-repeat="user in activeUsers as userList" class="col-md-12">
				<h3 class="col-md-6"><img id="online-icon" src="images/online_icon.jpg">{{user.name}}<h3>
				<span class="col-md-6"></span>
			</div>
			<span class="col-md-1"></span><div ng-if="userList.length === 0"><h3>No users currently online</h3></div>
		</div>
		<!-- End online users div -->
	</div>
	<!-- End left container -->

	<!-- Subject List -->
    <div id="login-list" class="list-group col-md-6 white-background img-rounded dark-green-border">
        <h2>Subjects in this forum</h2>
        <div ng-model="subjects" ng-repeat="thread in threads | unique:'subject' as subjectList" class="list-group-item">
        	<h4>{{thread.subject}}</h4>
        </div>
        <span class="col-md-1"></span><div ng-if="subjectList.length === 0"><h3>No subjects to display</h3></div>
    </div>
    <!-- End subject list -->
</div>
<!-- End ng-controller -->