<div ng-controller="threadPageController">
    <a href="#/main">Back to main page</a>
    <h1>{{thread.title}} by {{thread.username}}</h1>
    <div>
        <input type="text" ng-model="newComment" placeholder="Write a comment..."/>
        <button ng-click="addComment()">Add Comment</button>
    </div>
    <div>
        <div ng-repeat="comment in thread.comments">{{comment.username}}: {{comment.text}} {{comment.votes}}
            <button ng-click="upvote(thread.$id, comment, comment.votes)">Upvote</button>
            <button ng-click="downvote(thread.$id, comment, comment.votes)">Downvote</button>
        </div>
        <div ng-if="!thread.comments.length">There are no comments on this thread</div>
    </div>

</div>